<table>
    <tr>
        <th>Name</th>
        <th>Kindergarten</th>
        <th>Adresse</th>
        <th>Alter</th>
        <th>Geburtsdatum</th>
        <th>Kindergartengruppe</th>
      </tr>
    <tr *ngFor="let child of children">
        <td>{{child.name}}</td>
        <td>{{child.kindergarten.name}}</td>
        <td>{{child.kindergarten.address}}</td>
        <td>{{child.age}}</td>
        <td>{{child.birthDate | date:'longDate'}}</td>
        <td>{{child.kindergartengruppe}}</td>
    </tr>
</table>